$tablet: 768px;
$mobile: 425px;

$default-header-height: 80px;

.demo-body {
  width: 100%;
  max-width: 768px;
  margin: $default-header-height auto 0 auto;

  .fonts {
    margin: 10px;
    height: 1.1em;
    font-size: 1.5em;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: clip;
  }

  .handwrite-wrapper {
    height: 50%;
    padding: 2%;

    .font-info-wrapper {
      width: 47%;
      height: 100%;
      display: table;
      float: left;
      .font-info {
        width: 40px;
        height: 40px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 100%;
      }
    }

    .canvas-all-wrapper {
      float: right;
      width: 43%;
      height: 100%;
      //background-color: #aaaaaa;
      display: table;
      .canvas-all {
        display: table-cell;
        vertical-align: middle;

        .write-info {
          .write-button-wrapper {
            .write-config {
              float: left;
              width: 75%;
              margin: 1% 0;
              height: 38px;
              //background-color: red;
              .config-wrapper {
                width: 38px;
                height: 38px;
                margin: 0 4px;
                float: left;
                position: relative;
                //background-color: royalblue;
                .config {
                  img {
                    width: 38px;
                    height: 38px;
                  }
                }
                .pencil {
                  position: absolute;
                  bottom: 0;
                  background-color: black;
                }
                .big {
                  width: 38px;
                  height: 38px;
                  border-radius: 19px;
                }
                .mid {
                  width: 24px;
                  height: 24px;
                  left: 5px;
                  border-radius: 12px;
                }
                .small {
                  width: 16px;
                  height: 16px;
                  border-radius: 8px;
                }
              }
            }

            .next-button {
              width: 25%;
              background-color: #333333;
              text-align: center;
              color: white;
              padding: 10px 0;
              margin: 1% 0;
              border-radius: 5px;
              float: right;
            }

          }
        }
      }
    }

  }

  .informations {
    height: 50%;
    //background-color: yellow;
    .text-infos {
      margin-bottom: 20px;
      height: 1.5em;
      font-size: 1.5em;
      b {
        font-size: 2em;
      }
      .can-info {
        width: 45%;
        float: left;
        margin-left: 5%;
      }

      .accuracy {
        width: 45%;
        float: right;
        text-align: right;
        margin-right: 5%;
      }
    }
  }

  @media (max-width: $mobile) {

  }

}