$tablet: 768px;
$mobile: 425px;

$default-header-height: 80px;
$default-footer-height: 280px;
$default-section-height: 500px;
$default-content-width: 100px;

@mixin main-desc-big($color) {
  color: $color;
  font-weight: 600;
  font-size: 4em;
  z-index: 997;
  @media (max-width: $tablet) {
    font-size: 2.8em;
  }
  @media (max-width: $mobile) {
    font-size: 2em;
  }
}

@mixin main-desc($color) {
  color: $color;
  font-weight: 600;
  font-size: 2.5em;
  z-index: 997;
  @media (max-width: $tablet) {
    font-size: 2em;
  }
  @media (max-width: $mobile) {
    font-size: 1.5em;
  }
}

.s-alert-box {
  z-index: 2000;
}

.index {
  padding-top: $default-header-height;
  @media (max-width: $tablet) {
    padding-top: $default-header-height/1.25;
  }
}

.section-1 {
  position: relative;

  .main-desc-1 {
    position: absolute;
    top: 80px;
    left: 60px;
    @include main-desc-big(#fdfdfd);
  }

  .make-font-button-sticky {
    position: absolute;
    bottom: 100px;
    right: $default-content-width + 20;
    z-index: 999;
    width: 200px;
  }
  .make-font-button {
    width: 100%;
    position: absolute;
  }

  .main-picture {
    width: 100%;
    height: $default-section-height;
    object-fit: cover;
    filter: brightness(20%);
  }

  @media (max-width: $tablet) {
    .main-picture {
      height: $default-section-height/1.5;
    }
    .make-font-button-sticky {
      right: $default-content-width/1.5 + 25;
      width: 120px;
    }
    .main-desc-1 {
      top: 60px;
      left: 40px;
    }
  }

  @media (max-width: $mobile) {
    .make-font-button-sticky {
      width: 96px;
    }
  }
}

.section-2 {
  position: relative;
  padding: 0;
  //border: 1px solid black;
  height: $default-section-height + 100;

  .desc-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: opacity(0.035);
  }

  .main-desc-2 {
    @include main-desc(#333);
    height: auto;
    font-weight: 600;
    position: absolute;
    top: 50px;
    right: 60px;
    text-align: right;
  }

  .desc-image-wrapper {
    height: auto;
    width: 100%;
    position: absolute;
    top: 220px;
    text-align: center;
  }

  .desc-image {
    display: inline-block;
    margin: -1% -1%;
    width: 30%;
    max-width: 300px;
  }

  @media (max-width: $tablet) {
    height: $default-section-height/1.1;
    .main-desc-2 {
      top: 40px;
      right: 40px;
    }

    .desc-image-wrapper {
      top: 180px;
    }
  }

  @media(max-width: $mobile) {
    height: $default-section-height/0.55;
    .desc-image {
      width: 230px;
    }

    .desc-image-wrapper {
      top: 160px;
    }
  }
}

.section-3 {
  height: $default-section-height/0.7;
  position: relative;

  .main-desc-3 {
    @include main-desc(#333);
    height: auto;
    position: absolute;
    top: 40px;
    left: 60px;
    text-align: left;
  }

  .example-image-wrapper {
    position: absolute;
    top: 180px;
    text-align: right;
  }

  .example-image {
    width: 80%;
    max-width: 900px;
    margin: 10px 0;
  }

  .showcase-button-sticky {
    position: absolute;
    top: 60px;
    right: $default-content-width + 20;
    z-index: 999;
    width: 200px;
  }

  .showcase-button {
    width: 100%;
    position: absolute;
  }

  @media (max-width: $tablet) {
    height: $default-section-height/0.9;

    .showcase-button-sticky {
      width: 120px;
      top: 140px;
      right: $default-content-width/1.5 + 25;
    }

    .main-desc-3 {
      top: 50px;
      left: 40px;
    }

    .example-image-wrapper {
      top: 180px;
    }
    .example-image {
      width: 90%;
    }
  }
  @media (max-width: $mobile) {
    height: $default-section-height/1.1;
    .showcase-button-sticky {
      top: 130px;
      width: 96px;
    }
  }

}
