$tablet: 768px;

$default-height: 80px;
$default-content-width: 100px;
$default-color: #333;

.wrapper {
  background-color: #fdfdfd;
  filter: opacity(94%);
  width: 100%;
  height: $default-height;
  position: fixed;
  top: 0;
  z-index: 998;

  .logo {
    height: $default-height;
    cursor: pointer;
  }

  .right-contents-wrapper {
    position: absolute;
    width: $default-content-width;
    height: $default-height;
    right: 10px;
    top: 0;
    display: table;

    .contents {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $default-color;
    }
  }

  .right-contents-long-wrapper{
    position: absolute;
    height: $default-height;
    right: 10px;
    top: 0;
    display: table;

    .contents {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $default-color;
    }
  }

  @media (max-width: $tablet) {
    height: $default-height/1.25;

    .logo, .right-contents-wrapper, .right-contents-long-wrapper {
      height: $default-height/1.25;
    }

    .right-contents-wrapper {
      width: $default-content-width/1.25;
    }
  }
}